/*---------- GLOBAL STYLES ----------*/

* {
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-weight: 400;
    font-family: sans-serif;
    font-size: 16px;
    background-color: #000;
    color: #fff; 
}

a {
    display: inline-block;
    text-decoration: none;
    color: #ddd;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4.2rem;
}

h3 {
    font-size: 3.4rem;
}

h4 {
    font-size: 2.6rem;
}

p {
    font-size: 1.8rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

/*---------- NAVIGATION BAR ----------*/

.navbar {
    height: 100px;
    background-color: #111;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.nav-links { 
    display: flex;
    align-items: center;
    gap: 20px;
}

.navborder {
    border: 2px solid #cc5200;
    padding: 5px 10px;
}

/* ---------- HERO SECTION ----------*/

.hero-container {
    height: 90vh;
    width: 100vw;
    min-height: 300px;
    max-width: 100%;
    margin-bottom: 200px;
}

.hero-content {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-img {
    background-image: url("images/bike1.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-heading {
    margin-bottom: 15px;
    text-align: center;
}

.hero-paragraph {
    margin-bottom: 20px;
    font-size: 26px;
    text-align: center;
}

.btn {
    font-weight: 500;
    font-size: 16px;
    padding: 15px 30px;
    background-color: #d15401cc;
    color: #fff;
    border-radius: 15px;
}

.highlight {
    color: #c13a00;
}

.hero-btn:visited, .hero-btn:link {
    color: #fff;
    background-color: #ff6600;
}

.hero-btn:active, .hero-btn:hover {
    color: #fff;
    background-color: #cc5200;
    transform: scale(1.05);
}

/* ---------- CALL TO ACTION SECTION ---------- */

.cta-section{
    padding: 50px 0px;
    text-align: center;
    background-color: #111;
    border-radius: 15px;
}

.cta-btn:visited, .cta-btn:link {
    color: #fff;
    background-color: #ff6600;
}

.cta-btn:active, .cta-btn:hover {
    color: #fff;
    background-color: #732e00;
    transform: scale(1.05);
}

.cta-heading {
    margin-bottom: 5px;
}

.cta-paragraph {
    margin-bottom: 30px;
}

/* ---------- FEATURES SECTION ---------- */

.features {
    margin-bottom: 200px;
}

.feature-heading {
    text-align: center;
}

.features-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.features-card {
    display: inline-block;
    width: 250px;
    margin: 15px;
    padding: 20px;
    background: #181818;
    border-radius: 15px;
    transition: 0.3s;
}

.bike-features {
    margin-bottom: 200px;
}

.bike-img {
    max-width: 300px;
    height: 300px;
    width: 90%;
}

.showcase-heading {
    text-align: center;
    margin-bottom: 30px;
}

/* ---------- FOOTER SECTION ---------- */

footer {   
    color: #fff;
    padding: 30px 20px;     
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.footer-heading {
    font-size: 22px;
    margin: 0;
    font-weight: bold;
}

.footer-establish {
    font-size: 14px;
    margin-top: 5px;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: #fff;
    font-size: 14px;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #f97b49;
}

.copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    border-top: 1px solid #333;
    color: #fff;
    padding-top: 15px;
}

.footer-links a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding-bottom: 5px;
    transition: color 0.3s;
}

.footer-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: orange;
    transition: width 0.3s ease;
}

.footer-links a:hover {
    color: orange;
}

.footer-links a:hover::after {
    width: 100%;
}

/* NAVIGATION LINK STYLES (BIKES TO CONTACT) */

img:hover{
    transform: scale(1.50);
}

.bikes-container {
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 100px;
}

.bikeimage {
    width: 400px;
    height: 200px;
    transition: 0.3s ease;
}

.bike-grid{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bike-card {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 15px;
    width: 250px;
    text-align: center;
}

.bike-card:hover {
    transform: scale(1.05);
}

.bikeimage {
    max-width: 400px;
    width: 90%;
}

.about-container {
    height: auto;
}

.about-heading {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.2;
    margin: 10px 0px;
}

.about-description {
    letter-spacing: 2px;
    line-height: 1.2;
}

.contact-container {
    padding-top: 70px;
    height: 90vh;
}

.contact-heading {    
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 70px;
}

.contacts {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 1.2;
}
.contacts i {
    font-size: 16px;
    color: orange;
    margin-right: 10px;
}

.box {
    background: #000000;
    color: #ffffff;
    margin: 5px 0;
    padding: 20px;
    text-align: center;
}

/* ---------- MEDIA QUERIES ---------- */

 /* DESKTOP SCREEN */
@media (max-width: 1333px) {
    html {
        font-size: 56.25%;
    }
}

/* LAPTOP SCREEN */
@media (max-width: 1102px) {
    html {
        font-size: 50%;
    }
}

/* TABLET SCREEN */
@media (max-width: 908px) {
    html {
        font-size: 43.75%;
    }

    .menu-toggle{
        display: block;
    }

    .hero-content {
        height: 70vh;
    }

    .nav-links {
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    background: #111;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
    }

    .nav-links.active {
    display: flex;
    }

    .nav-links li {
    width: 100%;
    text-align: center; 
    }

    .nav-links a {
    display: block;
    width: 100%;
    padding: 10px;
    }

}

/* PHONE SCREEN */
@media (max-width: 490px) {     
    html {
        font-size: 37.5%;
    }
    
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 30px ;
    }

    .menu-toggle{
        display: block;
    }

    .nav-links {
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    background: #111;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
    }

    .nav-links.active {
    display: flex;
    }

    .nav-links li {
    width: 100%;
    text-align: center;
    }

    .nav-links a {
    display: block;
    width: 100%;
    padding: 10px;
    }

}

/* GLOWING BUTTON */

.theme-btn {
    background: #ff6600;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    margin-left: 15px;
    color: #fff;
}
.theme-btn {
    position: absolute;
    padding: 5px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.glow-btn {
    position: relative;
    border: 2px solid #ff4da6;
    background: transparent;
    color: white;
    cursor: pointer;
    border-radius: 5;
    transition: all 0.3% ease;
    overflow: hidden; 
}
.glow-btn:hover {
    background: #ff4da6;
    box-shadow: 
    0 0 10px #ff4da6, 0 0 10px #ff4da6, 0 0 10px #ff4da6;
    transform: scale(1.05);
}
.glow-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,0.6),
        transparent
    );
    transition: 0.5s;
}
.glow-btn:hover::before {
    left: 100%;
}

/* DARK MODE & LIGHT MODE BUTTON */

/* Theme Button */

body.dark-mode {    
    color: #000;
    background-color: #ddd;
}

/* NAVBAR */
body.dark-mode .navbar {
    background: #f5f5f5;
}

/* CARDS */
body.dark-mode .bike-card {
    background: #eaeaea;
    color: #000;
}

/* CTA SECTION */
body.dark-mode .cta-section {
    background: #f5f5f5;
}

/* LINKS */
body.dark-mode a {
    color: #000;
}

/* FOOTER */
body.dark-mode footer {
    background: #ddd;
    color: #000;
}
